:root {
    --primary-color: rgb(83, 29, 16);
    --hover-color: rgb(184, 106, 58);
    --background-colour: rgb(222, 198, 170);
    --navbar-color: rgb(240, 195, 142);
    /*Hero-Section*/
    --title-color: rgb(112, 40, 22);
    --subtitle-color: rgb(162, 104, 9);
    --description-color: rgb(184, 106, 58);
    --video-border: rgb(112, 40, 22);
    /*Best-sales*/
    --best-sales-color: white;
    /*About-Section*/
    --about-back: rgb(112, 40, 22);
    --about-text: white;
}


/**/

* {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hero-image-wrapper {
    z-index: 0;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--background-colour);
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 90%;
}


/*Navbar Styling*/

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--primary-color);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    width: 130px;
    scale: 1.2;
    height: 70px;
}

.navbar .nav-logo {
    background-color: var(--primary-colour);
    padding: 0 20px 0 10px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation: color-logo 4s infinite;
    transition: 4s ease;
}

.navbar .nav-link {
    color: var(--navbar-color);
    justify-items: center;
    align-items: center;
}

.navbar .nav-menu .user-interface .nav-link {
    font-size: 20px;
}

.navbar .nav-menu {
    display: flex;
    align-items: center;
    width: 65%;
    padding: 10px;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: 14px;
    transition: .3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background-color: var(--hover-color);
    border-radius: 20px;
    scale: 2;
}

.navbar .nav-menu .user-interface .nav-link:hover {
    background-color: var(--hover-color);
    border-radius: 20px;
}

.main-container {
    display: flex;
    background-color: var(--background-colour);
    height: 100vh;
    width: 100%;
}


/*image side*/

.image-side {
    width: 50%;
    height: 100vh;
    background-image: url('signup.jpg');
    background-size: cover;
    background-position: right 35%;
    border-top-left-radius: 500px;
}

.image-side img {
    width: 100%;
    height: 99.5vh;
    object-fit: cover;
    border-top-left-radius: 500px;
    object-position: 100% 35%;
}


/*form side*/

.form-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-colour);
}

.login-icon {
    scale: 4;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    margin-bottom: 40px;
}

.login-box {
    background-color: bisque;
    padding: 50px 70px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}

.login-box h2 {
    font-size: 25px;
    color: #3c0f0f;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-title {
    margin-top: -10px;
}


/* تنسيقات الفورم */

form {
    max-width: 400px;
    margin: auto;
}

form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid rgb(223, 200, 170);
    background-color: rgb(223, 200, 170);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.816);
    transition: .3s ease;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 5px #661B1B;
}

form input::placeholder {
    color: rgba(76, 76, 76, 0.641);
    opacity: 1;
}


/* زر تسجيل الدخول */

.login-box button {
    margin-top: 10px;
    display: block;
    border: none;
    padding: 10px 15px;
    width: 300px;
    border-radius: 30px;
    color: var(--background-colour);
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(99, 27, 27);
}

.login-box button:hover {
    background: rgb(142, 35, 35);
}

.signup-text {
    margin-top: 15px;
    font-size: 16px;
    color: #232323c9;
}

.signup-text a {
    color: #3c0f0f;
    text-decoration: underline;
    font-weight: bold;
}