.nav {
  background-color: #661B1B;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 0;
  position: fixed;
  margin: 0;
  height: 100px;
  z-index: 999;
  width: 100%;
}

.nav a {
  float: right;
  position: relative;
  color: #CFB277;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Open sans";
  font-weight: 700;
  transform: translate(-30px, 20px);
  text-indent: 25px;


}

.nav img {
  width: 200px;
  height: 158px;
  transform: translate(10px, -30px);
}

body {
  background-color: #EBDEB9;
  margin: 0;
  padding: 0;
}

h1 {
  transform: translate(0px, 145px);
  text-align: center;
  font-family: "Parisienne";
  font-size: 60px;
  margin: 0%;

}

h2 {
  transform: translate(0px, -150px);
  text-align: center;
  font-family: "Open sans";
  font-weight: 400;
  font-style: italic;
  font-size: 30px;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  flex-direction: column-reverse;
  transform: translateY(150px);

}

#button {
  width: 324px;
  height: 43px;
  font-size: 18px;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18;
  text-align: center;
  font-style: italic;
  background-color: #661B1B;
  font-weight: 500;
  transition: transform 0.08s ease-in, box-shadow 0.08s ease-in;
  box-shadow: 0 2px 0 #000000;
  margin: 0%;
  cursor: pointer;
  margin-top: 15px;
}




#button:active {
  top: 2px;
  box-shadow: 0 0px 0 black;
}

#Feedback {
  width: 300px;
  height: 20px;
  font-size: 18px;
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18;
  text-align: center;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow-y: scroll;
  text-overflow: clip;

}

#Feedback::placeholder {
  color: black;
  opacity: 47%;
}