
/* Reset & Base */
body {
    margin: 0;
    padding: 0;
    background-color:bisque ;
    font-family: Arial, sans-serif;
}
.nav {
    background-color: #661B1B;
    overflow: hidden;
    top:0;
    left: 0;
    padding-top:0;
    position:fixed;
    margin:0;
    height: 100px;
    z-index: 999;
    width: 100%;
  }

.nav a {
    float: right;
    position: relative;
    color: #CFB277;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open sans";
    font-weight: 700;
    transform: translate(-30px,20px);
    text-indent: 25px;
  }
.nav a:hover{

      border-bottom: 1px 1px 2px black;
      color: #c6a156f7;
      font-weight: 900;
        font-size: 20px;
      }
.nav img {
  width: 200px;
  height: 158px;
  transform: translate(10px,-30px);
}

.userlogin {
    color: rgb(222, 198, 170);
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.userlogin i {
    font-size: 20px; 
}

.userlogin:hover {
    color: rgb(255, 236, 216);
}

/* Main Container */
.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 60px;
}

/* Left Side Image */
.left-side {
    flex: 1;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 400px;
}

/* Right Side Form */
.right-side {
    flex: 1;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
}

.form-box {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}
.form-box h2 {
    font-size: 20px;
    color: #3c0f0f;
    margin-bottom: 20px;
    font-weight: bold;
}
.user-icon {
    width: 80px;
    height: 80px;
    border: 5px solid #3c0f0f;
    border-radius: 50%;
    background-color: rgb(243, 218, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.user-icon svg {
    width: 70px;
    height: 70px;
    stroke: #3c0f0f;
    stroke-width: 2;
    fill: none;
}

/* Form Styling */
form {
    max-width: 400px;
    margin: auto;
}
.name-row {
    display: flex;
    gap: 10px; 
    margin: 10px 0;
}

.name-row input {
    flex: 1 1 0 ;
    padding: 15px;
    border: 2px solid rgb(216, 192, 162) ;
    background-color: rgb(223, 200, 170);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.816);
    box-sizing: border-box;
    
}
form > input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid rgb(223, 200, 170);
    background-color: rgb(223, 200, 170);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.816);
    box-sizing: border-box;
}


.name-row input:focus {
    outline: none;
    box-shadow: 0 0 5px #661B1B;
}

.name-row input::placeholder {
    color: rgba(76, 76, 76, 0.641);
    opacity: 1;
}

form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid rgb(223, 200, 170);
    background-color: rgb(223, 200, 170);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.816);
}

form input:focus {
    outline: none;
    box-shadow: 0 0 5px #661B1B;
}

form input::placeholder {
    color: rgba(76, 76, 76, 0.641);
    opacity: 1;
}

/* Submit Button */
.btn {
    background-color: rgb(99, 27, 27);
    color: rgb(222, 198, 170);
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(142, 35, 35);
}

/* Paragraph under button */
p {
    margin-top: 15px;
    font-size: 14px;
    color: #232323c9;
}

p a {
    color: #3c0f0f;
    text-decoration: underline;
    font-weight: bold;
}
p a:hover {
    color: #3c0f0f;
}
