/*Start Global Rules*/

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.header-ready {
  display: flex;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*End Global Rules*/

/*Start Top nav Bar*/

.nav {
  background-color: #661b1b;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 0;
  position: fixed;
  margin: 0;
  height: 100px;
  z-index: 999;
  width: 100%;
}

.nav a {
  float: right;
  position: relative;
  color: #cfb277;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Open sans";
  font-weight: 700;
  transform: translate(-30px, 20px);
  text-indent: 25px;
}

.nav img {
  width: 200px;
  height: 158px;
  transform: translate(10px, -30px);
}

/*End Top nav Bar*/

/*Start left nav bar*/

.left-nav {
  position: fixed;
  background-color: #c9b67f;
  width: 260px;
  text-align: center;
  height: 100vh;
  top: 100px;
  z-index: 10000000000;
}

.left-nav .header {
  background-color: #3b0f0f;
  height: 70px;
}

.left-nav .header h2 {
  position: relative;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #c9b67f;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  top: 5px;
}

.left-nav span {
  position: relative;
  display: block;
  width: 200px;
  height: 2px;
  background-color: black;
  margin-top: 60px;
  margin-left: 20px;
}

.left-nav span::before,
.left-nav span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg);
  top: 50%;
}

.left-nav span::before {
  left: -10px;
  top: -4px;
}

.left-nav span::after {
  right: -10px;
  top: -4px;
}

.left-nav .gat ul {
  padding: 0;
}

.left-nav .gat ul li {
  list-style: none;
  margin-bottom: 76px;
}

.left-nav .gat ul li a {
  text-decoration: none;
  color: black;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 35px;
}

.left-nav .gat ul li a:hover {
  color: rgb(161, 72, 72);
}

.left-nav .gat ul li:first-child {
  margin-top: 60px;
}

.gat ul {
  position: relative;
  top: 4px;
}

/*End left nav bar/

/Start Ready to go*/

.ready-to-go {
  position: relative;
  background-color: #ebdeb9;
  margin-left: 216px;
}

.ready-to-go .header-ready {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ready-to-go .header-ready i {
  margin: 0;
  position: relative;
  color: #661b1b;
  font-size: 40px;
  top: -10px;
  left: 700px;
}

.ready-to-go .container .header-ready h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-top: 0;
  position: relative;
  left: 450px;
}

.ready-to-go span {
  position: relative;
  display: block;
  width: 500px;
  height: 2px;
  background-color: black;
  margin-top: -20px;
  margin-bottom: 50px;
  left: 400px;
}

.ready-to-go .first-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.ready-to-go .first-row img {
  width: 300px;
}

.first-row .first-item {
  padding-right: 137px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
}

.first-row .first-item img {
  position: relative;
  right: -70px;
  top: 20px;
  width: 220px;
}

.first-row .first-item a {
  position: relative;
  right: -62px;
  top: 20px;
}

.first-row .second-item {
  height: 320px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  right: 6px;
}

.first-row .second-item img {
  position: relative;
  margin-left: 127px;
  width: 98px;
  margin-right: 75px;
  right: 24px;
  bottom: 25px;
}

.first-row .second-item a {
  position: relative;
  bottom: 30px;
}

.first-row .third-item {
  height: 220px;
  padding: 70px;
  position: relative;
  right: 6px;
  border-bottom: black solid 3px;
}

.first-row .third-item a {
  position: relative;
  bottom: 63px;
}

.first-row .third-item img {
  position: relative;
  width: 120px;
  bottom: 60px;
}

.ready-to-go .second-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.ready-to-go .second-row img {
  width: 300px;
}

.second-row .first-item {
  padding-right: 133px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
}

.second-row .first-item img {
  position: relative;
  width: 196px;
  right: -37px;
}

.second-row .first-item a {
  position: relative;
  right: -39px;
}

.second-row .second-item {
  padding-right: 68px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  padding-left: 78px;
}

.second-row .second-item img {
  position: relative;
  top: 40px;
  width: 160px;
  right: -12px;
}

.second-row .second-item a {
  position: relative;
  top: 30px;
  right: -1px;
}

.second-row .third-item {
  padding-left: 136px;
  border-bottom: black solid 3px;
}

.second-row .third-item img {
  position: relative;
  right: 52px;
  width: 144px;
  top: -15px;
}

.second-row .third-item a {
  position: relative;
  right: 45px;
  top: -28px;
}

.ready-to-go .third-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.ready-to-go .third-row img {
  width: 300px;
}

.third-row .first-item {
  padding-right: 161px;
  position: relative;
  left: 2px;
  border-right: black solid 3px;
}

.third-row .first-item img {
  position: relative;
  right: -72px;
  width: 130px;
  top: 14px;
}

.third-row .first-item a {
  top: 14px;
  position: relative;
  right: -64px;
}

.third-row .second-item {
  padding-left: 56px;
  padding-right: 49px;
  position: relative;
  right: 2px;
  border-right: black solid 3px;
}

.third-row .second-item img {
  position: relative;
  width: 160px;
  right: 5px;
  top: 19px;
}

.third-row .second-item a {
  position: relative;
  top: 4px;
}

.first-item,
.second-item,
.third-item {
  padding: 20px;
}

.ready-to-go p {
  margin-top: 0;
}

.ready-to-go h3 {
  margin-bottom: 0;
}

.ready-to-go a {
  text-decoration: none;
  color: black;
}

.ready-to-go a:hover {
  text-decoration: underline;
}

.third-row .third-item {
  padding-right: 120px;
  padding-left: 91px;
}

.third-row .third-item img {
  position: relative;
  right: -14px;
  width: 130px;
}

.third-row .third-item a {
  position: relative;
  right: -8px;
  top: -7px;
}

.ready-to-go a {
  letter-spacing: 2px;
}

/*End Ready to go*/

/*Start Backery (Hazem Code)*/

.backery {
  position: relative;
  background-color: #ebdeb9;
  margin-left: 216px;
}

.backery .container {
  margin-top: 0;
}

.backery .header-backery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backery .container .header-backery h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-top: 0;
  position: relative;
  left: 30px;
}

.backery span {
  position: relative;
  display: block;
  width: 500px;
  height: 2px;
  background-color: black;
  margin-top: -20px;
  margin-bottom: 50px;
  left: 435px;
}

.backery .first-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.backery .first-row img {
  width: 300px;
}

.backery .first-row .first-item {
  padding-right: 100px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  left: 20.5px;
}

.backery .first-row .first-item img {
  position: relative;
  right: -40px;
  top: 50px;
  width: 220px;
}

.backery .first-row .first-item a {
  position: relative;
  right: -35px;
  top: 40px;
}

.backery .first-row .second-item {
  height: 320px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  right: 33px;
}

.backery .first-row .second-item img {
  position: relative;
  margin-left: 127px;
  width: 192px;
  margin-right: 75px;
  right: 1px;
  bottom: 25px;
  top: 20px;
}

.backery .first-row .second-item a {
  position: relative;
  top: 10px;
  left: 20px;
}

.backery .first-row .third-item {
  height: 220px;
  padding: 70px;
  border-bottom: black solid 3px;
  position: relative;
  right: 33px;
}

.backery .first-row .third-item a {
  position: relative;
  bottom: 40px;
  left: 8px;
}

.backery .first-row .third-item img {
  position: relative;
  width: 136px;
  bottom: 38px;
  left: 10px;
}

.backery .second-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.backery .second-row img {
  width: 300px;
}

.backery .second-row .first-item {
  padding-right: 128px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  left: 48px;
}

.backery .second-row .first-item img {
  position: relative;
  width: 200px;
  right: -45px;
  top: 1cm;
}

.backery .second-row .first-item a {
  position: relative;
  right: -45px;
  top: 1cm;
}

.backery .second-row .second-item {
  padding-right: 61px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  padding-left: 129px;
  position: relative;
  left: 48px;
}

.backery .second-row .second-item img {
  position: relative;
  top: 20px;
  right: 35px;
  width: 191px;
}

.backery .second-row .second-item a {
  position: relative;
  top: 0px;
  right: 40px;
}

.backery .second-row .third-item {
  padding-left: 125px;
  border-bottom: black solid 3px;
  position: relative;
  right: 40px;
}

.backery .second-row .third-item img {
  position: relative;
  width: 247px;
  top: 34px;
  left: 10px;
}

.backery .second-row .third-item a {
  position: relative;
  top: 13px;
  left: 2px;
}

.backery .third-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.backery .third-row img {
  width: 300px;
}

.backery .third-row .first-item {
  padding-right: 122px;
  border-right: black solid 3px;
  position: relative;
  left: 55px;
}

.backery .third-row .first-item img {
  position: relative;
  width: 220px;
  top: 16px;
  left: 50px;
}

.backery .third-row .first-item a {
  top: 14px;
  position: relative;
  left: 50px;
}

.backery .third-row .second-item {
  padding-left: 156px;
  padding-right: 70px;
  border-right: black solid 3px;
  position: relative;
  right: 15px;
}

.backery .third-row .second-item img {
  position: relative;
  top: 6px;
  width: 225px;
  right: 20px;
}

.backery .third-row .second-item a {
  position: relative;
}

.backery .first-item,
.backery .second-item,
.backery .third-item {
  padding: 20px;
}

.backery p {
  margin-top: 0;
}

.backery h3 {
  margin-bottom: 0;
}

.backery a {
  text-decoration: none;
  color: black;
}

.backery a:hover {
  text-decoration: underline;
}

.backery .third-row .third-item {
  padding-right: 120px;
}

.backery .third-row .third-item img {
  position: relative;
  left: 30px;
  width: 210px;
  top: 1cm;
}

.backery .third-row .third-item a {
  position: relative;
  left: 30px;
  top: 45px;
}

/*End Backery (Hazem Code)*/

/*Start Packs*/

.packs {
  position: relative;
  background-color: #ebdeb9;
  margin-left: 216px;
}

.packs .header-packs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.packs .container .header-packs h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-top: 0;
  position: relative;
  left: 30px;
}

.packs span {
  position: relative;
  display: block;
  width: 500px;
  height: 2px;
  background-color: black;
  margin-top: -20px;
  margin-bottom: 50px;
  left: 430px;
}

.packs .first-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.packs .first-row img {
  width: 300px;
}

.packs .first-row .first-item {
  padding-right: 137px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  bottom: 10px;
  left: 3px;
}

.packs .first-row .first-item img {
  position: relative;
  right: -70px;
  top: 20px;
  width: 165px;
}

.packs .first-row .first-item a {
  position: relative;
  right: -62px;
  top: 20px;
}

.packs .first-row .second-item {
  height: 320px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
}

.packs .first-row .second-item img {
  position: relative;
  margin-left: 127px;
  width: 194px;
  margin-right: 75px;
  right: 24px;
  bottom: 2px;
}

.packs .first-row .second-item a {
  position: relative;
  bottom: 20px;
}

.packs .first-row .third-item {
  height: 220px;
  padding: 70px;
  border-bottom: black solid 3px;
}

.packs .first-row .third-item a {
  position: relative;
  bottom: 35px;
}

.packs .first-row .third-item img {
  position: relative;
  width: 155px;
  bottom: 29px;
}

.packs .second-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.packs .second-row img {
  width: 300px;
}

.packs .second-row .first-item {
  padding-right: 170px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  position: relative;
  bottom: 10px;
}

.packs .second-row .first-item img {
  position: relative;
  width: 196px;
  right: -101px;
}

.packs .second-row .first-item a {
  position: relative;
  right: -89px;
}

.packs .second-row .second-item {
  padding-right: 105px;
  border-right: black solid 3px;
  border-bottom: black solid 3px;
  padding-left: 96px;
  position: relative;
  bottom: 10px;
  right: 9px;
}

.packs .second-row .second-item img {
  position: relative;
  top: 10px;
  width: 235px;
  right: -4px;
}

.packs .second-row .second-item a {
  position: relative;
  top: 6px;
  right: -1px;
}

.packs .second-row .third-item {
  padding-left: 96px;
  border-bottom: black solid 3px;
  position: relative;
  bottom: 10px;
  right: 9px;
}

.packs .second-row .third-item img {
  position: relative;
  right: 52px;
  width: 144px;
  top: 7px;
}

.packs .second-row .third-item a {
  position: relative;
  right: 45px;
  top: -1px;
}

.packs .third-row {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.packs .third-row img {
  width: 300px;
}

.packs .third-row .first-item {
  padding-right: 233px;
  border-right: black solid 3px;
  position: relative;
  bottom: 10px;
  left: 3px;
}

.packs .third-row .first-item img {
  position: relative;
  right: -140px;
  width: 140px;
  top: 14px;
}

.packs .third-row .first-item a {
  top: 14px;
  position: relative;
  right: -141px;
}

.packs .third-row .second-item {
  padding-left: 109px;
  padding-right: 164px;
  position: relative;
  bottom: 10px;
  right: 3px;
  border-right: black solid 3px;
}

.packs .third-row .second-item img {
  position: relative;
  width: 160px;
  right: -25px;
  top: 24px;
}

.packs .third-row .second-item a {
  position: relative;
  top: 36px;
  right: -25px;
}

.packs .first-item,
.packs .second-item,
.packs .third-item {
  padding: 20px;
}

.packs p {
  margin-top: 0;
}

.packs h3 {
  margin-bottom: 0;
}

.packs a {
  text-decoration: none;
  color: black;
}

.packs .third-row .third-item {
  padding-right: 120px;
  padding-left: 29px;
  position: relative;
  bottom: 10px;
}

.packs .third-row .third-item img {
  position: relative;
  right: -26px;
  width: 180px;
  top: 20px;
}

.packs .third-row .third-item a {
  position: relative;
  right: -22px;
  top: 19px;
}

.packs a {
  letter-spacing: 2px;
}

.packs .container {
  margin-top: 0;
}

.packs a:hover {
  text-decoration: underline;
}

/*End Packs*/
