@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic+Expanded+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  html, body {
    height: 100%;
  }
  

body{

background-color: bisque;
min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;


}




.nav {
  height: 100px;
  background-color: #4d1616 ;
  overflow: hidden;
  top:0; 
  left: 0;
  padding-top:0;
  position:fixed;
  margin:0px;
  
  z-index: 999;
  width: 100%;
}

.nav a {
  float: right;
  position: relative;
  color: #CFB277;
  text-align: center;
  padding: 20px ;
  text-decoration: none;
  font-size: 17px;
  font-family: "Open sans";
  font-weight: 700;
  transform: translate(-30px,20px);
 text-indent: 30px;
 text-transform: uppercase;
 transition: .3 ease;



}
.nav a:hover{
font-weight:800 ;
text-decoration: underline;
color: #c6a156f7;

  
}
.nav img {
width: 200px;
height: 158px;
transform: translate(10px,-30px);
}
.image{
    position: relative;
    top: 150px;
    padding-left: 485px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    flex: 1; /* takes all available space, pushing footer to bottom */
    
    align-items: center;
}
h1{
    text-align: center;
  }
#boxes{ /*apllied to the 4 boxes*/
    display: flex; /*for placing boxes*/
    justify-content: space-between;/*for making 2 columns*/
    scroll-margin-top: 200px;           
    text-align: center;
   width: 1400px;
   height: 230px;
   margin-top: 200px;
   margin-bottom: 230px;
  
   font-family: "Open sans";
   font-size: 25px;
   font-weight: 700;
 
   color: #CFB277;
   
  
}
   .box1{
    border: 2px solid #7B3F00;
    border-radius: 20px;
    width: 300px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    text-transform: capitalize;
    align-items: center;
   
    background-color: #661B1B;
  }
  .box2{
 
    border: 2px solid  #7B3F00;
    border-radius: 20px;
    width: 300px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    text-transform: capitalize;
    align-items: center;
    background-color: #661B1B;

  }
    .box3{
     
      border: 2px solid #7B3F00;
      border-radius: 20px;
      width: 300px;
      box-shadow: 2px 2px 8px rgb(0, 0, 0);
      text-transform: capitalize;
      align-items: center;
      background-color: #661B1B;
    }
    .box1:hover{
      color: #661B1B;
      background-color: #CFB277;
      cursor: pointer;

    }
    .box2:hover{
      color: #661B1B;
      background-color: #CFB277;
      cursor: pointer;

    }
    .box3:hover{
      color: #661B1B;
      background-color: #CFB277;
      cursor: pointer;

    }


   
   .txt{
    text-decoration: none;
    color: rgba(21, 21, 21, 0.879);
    
   }
   .txt:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    
   }
   p{
    margin-top: 20px;
   }
 
   .number{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

   }
   .locicon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
   }
   #b2{
    font-size: 23px;
    
   }
   .whole{
   margin-left:20px ;
   margin-top: 30px;

   
   }
   span{
    position: relative;
    left: 15px;
   }
   #txt2{
   font-weight: 500;
  word-spacing: 3px;
   }
   footer{
    background-color: rgb(91, 38, 38);
    width: 100%;
    display: flex;
    font-family: "Lilita One", sans-serif;
    justify-content: space-between;
    color: white;
    margin-top: auto; 
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 540PX;
   
   }
   hr{
    margin-bottom: 30px;
    height: 3px;
    width: 380px;
    background-color: #cfb277dd;
    border: none;
    border-radius: 2px;
    color: #CFB277;
   }
   .contact{
    margin: 30px 30px;
    
    display: flex;
    flex-direction: column;
    
  }
  #hotline{
    font-size: 30px;
    color:#b9a06d ;
  }
  #email{
    font-size: 30px;
    color:#b9a06d ;
  }
  .ftr1{
    text-align: start;
    position: relative;
    left: 39px;
    bottom: 43px;
    font-size: 49px;
  }
  .ftr2{
    text-align: start;
    position: relative;
    left: 36px;
    bottom: 27px;
    font-size: 20px;
    font-family: "Open sans";
    font-weight: 400;
  }
  .category,.opensoon{
    color: #CFB277;
    font-family: "Open sans";
    text-transform: uppercase;
    font-weight: 650;
    font-size: 30px;
    position: relative;
    right: 5px;
   
   

  }
  .categories,.newbranches{
    margin: 130px 30px;
    padding-right: 100px;
  }
  .ftrlist{
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    
    
    
  }
  .ftrlist li{
    padding: 10px 0;
    color: #ffffffe0;
    /*font-size: 20px;*/
    font-size: 17px;
  font-family: "Open sans";
  /*font-weight: 700;*/
  }
  #cpy{
    width: 100%;
  text-align: center;
  padding: 12px 0;
  position: relative;
  bottom: 59PX;
  background-color: rgba(0,0,0,0.2);
  font-family: "Open sans";
  font-weight: 600;
  color: #ffffffe0;
  height: 40PX;
  }
   

  
   
